header {
  color:#6c6060; 
  font-family: 'helvetica';
  font-size: 100px;
  background-color: white;
  padding: 0px;
  align-items: center;
  display: flex;
  flex-direction:column;

}

div {
  font-family: 'helvetica';
  font-size: 25px;
}
.topnav {
  background-color: #496969;
  overflow: hidden;
  width: 100%;
  border-top: 1px;
  
  
}
.topnav a {
  float:left;
  color: #f2f2f2;
  text-align: center;
  padding: 3px 20px;
  text-decoration: none;
  font-size: 25px;
  font-family: sans-serif
  
}
a:hover {
  color: rgb(180, 175, 175);
}
body {
  margin: 0px;


}
h1 {
  text-align: center;
  width: 100%;
}
p {
  
}