header {
  color:black;
  text-align: center;
  font-family: 'helvetica';
  font-size: 100px;
}

.Apple {
  text-align: center;
}

div {
  font-family: 'helvetica';
}
.topnav {
  background-color: cyan;
  overflow: hidden;
  
}
.topnav a {}