header {
  color:black;
  text-align: center;
  font-family: 'helvetica';
  font-size: 100px;
}

.Apple {
  text-align: center;
}

div {
  font-family: 'helvetica';
}
.topnav {
  background-color: #496969;
  overflow: hidden;
  
}
.topnav a {
  float:left;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}